:root {
  --body-bg: linear-gradient(135deg, #f8ec3b 0%, #f36d14 100%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}
.contain {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
}
